<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fire.store.dao.OrderDao">

    <select id="get" resultType="com.fire.store.domain.Order">
		select a.`id`,a.`count`,a.`subtotal`,a.`item_id`,a.`order_id`
		from orderitem a
		where a.id = #{value}
	</select>

    <select id="list" resultType="com.fire.store.domain.Order">
        SELECT
        a.`id`,a.`count`,a.`subtotal`,a.`item_id`,a.`order_id`
        FROM orderitem a
        <where>
            <if test="id != null and id != ''">and a.id = #{id}</if>
            <if test="count != null and count != ''">and a.count = #{count}</if>
            <if test="subtotal != null and subtotal != ''">and a.subtotal = #{subtotal}</if>
            <if test="itemId != null and itemId != ''">and a.item_id = #{itemId}</if>
            <if test="orderId != null and orderId != ''">and a.order_id = #{order_id}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by a.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(1) from orderitem a
        <where>
            <if test="id != null and id != ''">and a.id = #{id}</if>
            <if test="count != null and count != ''">and a.count = #{count}</if>
            <if test="subtotal != null and subtotal != ''">and a.subtotal = #{subtotal}</if>
            <if test="itemId != null and itemId != ''">and a.itemId = #{item_id}</if>
            <if test="orderId != null and orderId != ''">and a.order_id = #{order_id}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.fire.store.domain.Order"
            useGeneratedKeys="true" keyProperty="id">
		insert into orderitem
		(
		`count`,
		`subtotal`,
		`item_id`,
		`order_id`
		)
		values
		(
		#{count},
		#{subtotal},
		#{itemId},
		#{orderId}
		)
	</insert>

    <update id="update" parameterType="com.fire.store.domain.Order">
        update orderitem
        <set>
            <if test="count != null">`count` = #{count}, </if>
            <if test="subtotal != null">`subtotal` = #{subtotal}, </if>
            <if test="itemId != null">`item_id` = #{itemId}, </if>
            <if test="orderId != null">`order_id` = #{orderId}, </if>
        </set>
        where id = #{id}
    </update>
</mapper>